
center{
    height: 40px;
    background-color: #000;
}

footer {
    position: absolute;
    background: #000;
    height: 30vh;
    left: 0;
    width: 100%;
    margin-top: 90px;
}

footer .container{
    text-align: center;
}

footer p {
    margin: 0;
    color: #f0f8ff;
    background-position: top;
    text-align: center;
    font-size: 18px;
    padding: 3%;
    
}

footer a {
   
    text-decoration: none;
    font-weight: bold;
    color: #f0f8ff;
}

footer .ico{
    align-items: center;
    text-align: center;
    height: 90px;
  
   
}

footer a:hover{
    color: #34b015;
}

ion-icon{
    font-size: 1.5em;
    padding: 2px 15px;
}



@media(max-width:416px){
    footer p {
        
        font-size: 13px;
 
        
    }

    footer{
        margin-top: 1800px;
    }

}