*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: #f0f8ff;
}

/*video*/


.cap{
 
    top: 0;
    left: 0;
    width: 100%;
    height: 150vh;
    background: #000;
    opacity: 20%;
    mix-blend-mode: overlay;
}

figure{
    height: 200px;
    width: 300px;
}

.carta {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    margin-top: 150px;
    flex-wrap: wrap;
    
}

  
    .carta figure{
        position: relative;
        height: 200px;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px
        rgba(0, 0, 0, 0.50);
        cursor: pointer;
    }
    
    .carta figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
    
    .carta figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(30, 31, 30, 0.6);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    
    .carta figure:hover > .capa{
        opacity: 1;
        visibility: visible;
    }
    
    .carta figure:hover > .capa h3{
        margin-top: 70px;
        margin-bottom: 15px;
    }
    
    .carta figure h3{
        color: #f0f8ff;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 30px;
    }
    
    .carta figure p{
        color: #f0f8ff;
        font-size: 15px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5;
        width: 100%;
        max-width: 230px;
        margin: auto;
    }


.spx:first-child{
    flex: 1;
}   



.spx {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    margin-top: 50px;
    flex: 1;
    }
    
    .spx figure{
        margin-left: 30px;
        margin-right: 30px;
        position: relative;
        height: 200px;
        width: 300px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px
        rgba(0, 0, 0, 0.50);
        cursor: pointer;
    }
    
    .spx figure img{
        width: 100%;
        height: 100%;
        transition: all 500ms ease-out;
    }
    
    .spx figure .capa{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(31, 30, 30, 0.6);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }
    
    .spx figure:hover > .capa{
        opacity: 1;
        visibility: visible;
    }
    
    .spx figure:hover > .capa h3{
        margin-top: 1.25rem;
        margin-bottom: 15px;
    }
    
    .spx figure h3{
        color: #f0f8ff;
        font-weight: 400;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin: 0;
        margin-bottom: 120px;
        transition: all 500ms ease-out;
        margin-top: 10px;
    }
    
    .spx figure p{
        color: #f0f8ff;
        font-size: 0.9375rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 1.5;
        width: 100%;
        max-width: 230px;
        margin: auto;
    }
    
button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    color: black;
    background-color: #f0f8ff;
    transition: transform 1s;
    margin-top: 20px;
}

button:hover {
    background-color: #b3b4b4;
    transform: scale(1.1);
    border: solid 0.5px #000;
}


@media (max-width:416px){

    
.carta { 
    margin-top: 10px;
 
    
}


}
  
