/node_modules
/public/hot
/public/hot
/public/argon/img/sponsor
/public/argon/img/souvenir
/public/argon/img/talk
/public/argon/img/course
/storage/*.key
/vendor
*.pdf
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
