/node_modules
/public/hot
/public/hot
/public/argon/image/sponsor
/public/argon/image/souvenir
/public/argon/image/talk
/public/argon/image/course
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
