@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'biko', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    
}

.inf{
    display: flex;
    position: relative;
    z-index: 8;
    margin-top: 2%;
}

.inf .img{
    display: flex;
    position: relative;
    width: 60%;
    margin-top: 100px;
    margin-left: 20%;
    border-radius: 20px;
    box-shadow: 0px 15px 25px
    rgba(0, 0, 0, 0.50);
    z-index: 8;
}
.inf .contenedor_img{
    width: 40%;
    position: relative;
}
.inf .contenedor_texto{
    width: 40%;
    position: relative;
}
.contenedor_texto h3{
    text-align: center;
    font-size: 30px;
}

.contenedor_texto p{
    text-align: center;
    font-size: 20px;
    margin: 30px;
}

.contenedor_texto h4{
    padding: 0 ;
}

.contenedor_texto #hj{
    font-weight: 2;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0.3);
    box-shadow: 5px 5px rgba(20, 20, 20,0.8);
    color: black;
    background-color: #f0f8ff;
    transition: transform 1s;
    margin-left: 46%;
    margin-block: 3%;
    z-index: 5;
}

button:hover {
    background-color: #c4fa31;
    transform: scale(1.1);
}



ion-icon{
    font-size: 1.5em;
    padding: 5px 15px;
}





footer {
    position: absolute;
    background: #000;
    height: 30vh;
    left: 0;
    width: 100%;
    margin-top: 90px;
}

footer .container{
    text-align: center;
}

footer p {
    margin: 0;
    color: #f0f8ff;
    background-position: top;
    text-align: center;
    font-size: 18px;
    padding: 3%;
    
}

footer a {
   
    text-decoration: none;
    font-weight: bold;
    color: #f0f8ff;
}

footer .ico{
    align-items: center;
    text-align: center;
    height: 90px;
  
   
}

footer a:hover{
    color: #34b015;
}

ion-icon{
    font-size: 1.5em;
    padding: 2px 15px;
}



@media(max-width:416px){
    footer p {
      
        font-size: 13px;
 
        
    }

}

@media(max-width:416px){

    div h4{
        padding: 0;
        margin-left: 60px;
    }

    button{
        margin-left: 100px;
        margin-top: 50px;
    }

    div p{
        font-size: 1em;
    }

    .img{
        width: 70%;
        margin-left: 16%;
        margin-top: 60px;
        border-radius: 5px;
    }

}





















@media (max-width:800px){

    #tope img{
        width: 40%;
        margin-top: 0;
        left: 0;
        z-index: 10;
    } 

    .menu__hamburguer{
        display: flex;
        z-index: 10;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
        margin: 0 0 5px;
        height: 40px;
        padding: 0;
        font-size: 20px;
        z-index: 10;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #f0f8ff20;
        z-index: 10;
    }

    .menu__item--show{
        background-color: #f0f8ff20;
        z-index: 10;
    }

    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 60px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
        z-index: 10;
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
        z-index: 10;
    }

    .menu__link{
        padding: 8px 25px;
        padding-left: 30px;
        height: auto;
        z-index: 10;
    }
    
}

