

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body {
    background-color: #e3e3e3;

    justify-content: center;
    align-items: center;
    min-height: center;
}

.Container_T {
    display: flex;
}

.container {
    position: relative;
    width: 90%;
    max-width: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}

.container .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;

}

.container .top .imgBx .box {
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .imgBx .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profiletextt {
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.container .top .profiletextt h3 {
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.container .top .profiletextt h3 span {
    position: relative;
    font-size: 0.5em;
    font-weight: 300;
    top: -10px;
}

/* parte del informacion de contactos
*/
.container .contentBox {
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}

.container .contentBox h3 {
    border-left: 4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}

.container .contentBox ul {
    position: relative;
    margin: 10px 0;
}

.container .contentBox ul li {
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}

.container .contentBox ul li ion-icon {
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}

.container .contentBox ul.education li {
    flex-direction: column;
    margin: 25px 0;
}

h5 {
    color: #3590d2;
}

h4 {
    color: #333;
    font-weight: 500;
    margin: 5px 0;
}

h6 {
    color: #666;
    font-weight: 300;
    font-size: 1em;
}

.Language li {
    flex-direction: column;
}

.Language li span {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.Language .percent {
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.Language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

.container .contentBox ul.interest {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.container .contentBox ul.interest li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.container .contentBox ul.interest li.icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: #3590d2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentBox ul.interest li.icon ion-icon {
    color: #fff;
    margin-right: 0;
}



.rightSide {
    padding-left: 40px;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
    margin-bottom: 10px;
}

.about .box .year_company h5 {
    color: #333;
    font-weight: 600;
}

.about .box .year_company h5:nth-child(1) {
    color: #3590d2;
}

.about .box .textt h4 {
    color: #3590d2;
    font-size: 16px;
    margin: 0;
}

.about .skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.about .skills .box h4 {
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}

.about .skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}

.about .skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

.aboutt .box .textt p{
    font-style: 200px;
    
}


p{
    z-index: 3;
    text-align:justify;
    width: 100%;
    font-style: 300;
    color:#000
}
/*
777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777
*/
.container__cards {
    
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Separacion {
    margin-top: 50px;
    text-align: center;
    width: 10%;
    height: 10px;
    background-color: #000;
    background: #fff;
    font-size: 50px;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}

.card:hover {
    width: 350px;
}

.card .cover {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.card .cover img {
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
    transition: all 400ms;
}

.card:hover .cover img {
    top: 0px;
    filter: none;
}

.card .img__back {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back {
    background-image: url(../images/bg1.jpg);
}

.card:nth-of-type(2) .img__back {
    background-image: url(../images/bg2.jpg);
}

.card:nth-of-type(3) .img__back {
    background-image: url(../images/bg3.jpg);
}

.card:hover .img__back {
    bottom: -40px;
}

.card .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description {
    padding: 40px;
}

.card .description h2 {
    margin-top: 10px;
}

.card .description p {
    margin-top: 10px;
}

.card .description input {
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover {
    background: #83277b;
}


@media (max-width: 1100px) {
    .container {
         margin: 0; 
    }
    .container .top .profiletextt {
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
    }
    .container .contentBox {
        display: block;
    }

    .rightSide {
        padding-left: 0;
    }

    .about .box {
        display: block;
    }

    .rightSide {
        padding-left: 0;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}



@media (max-width: 825px) {
    .Container_T {
        display: block;
    }

    .container .top {
        padding-top: 40px;
        padding-left: 10px;
    }

    .container {
        margin: 20px;
        border-left: 20px solid #fff;
        border-right: 20px solid #fff;
        width: 90%;
    }

    .container .contentBox {
        display: block;
        padding: 0 20px 40px;
    }

    .container .top .imgBx .box {
        min-width: 130px;
    }

    .container .top .profiletextt h3 {
        font-size: 2em;
    }

    .about .box {
        display: block;
    }


}


