@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    
    box-sizing: border-box;
}

body{
    font-family: 'biko', sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-position: left top;
    background-repeat: no-repeat;
    
}

#tope img{
    width: 27%;
    top: 0;
    left: 0;
} 

.tex{
width: 200px;
}

.tex1{
    width: 250px;
}

.menu{
    background: #000;
    color: #f8f8f8;
    height: 10vh;
    display: block;
   
    
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 20%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
    top: 5vh;
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
}

.menu__link:hover{
    color: #34b015;
    transition: 0.1s;
    transform: all 0.3s ease-in-out;
}

.menu__link::before {
    content: "";
    position: absolute;
    background-color: #34b015;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.menu__link::after {
    content: "";
    position: absolute;
    background-color: #ff6200;
    height: 1px;
    width: 0;
    right: 0;
    bottom: -10px;
    transition: 0.5s;
}

.menu__item:hover .menu__link::before{
    width: 50%;
    transform: translate(100%);
}

.menu__item:hover .menu__link::after{
    width: 50%;
    transform: translate(-100%);
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #f0f8ff20;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

center{
    height: 40px;
    background-color: #000;
}

.imagen {
    display: flex;
    align-items: center;
    padding: 150px;
    text-align: center;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.847);
    height: 100vh;
    background: rgb(2,0,36);
    height: 900px;
}

#posi{
    margin-top: 10%;
}



.forma{
    width: 400px;
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    
}

.forma h1{
    font-size: 2em;
    padding: 15px;
    
}

#posi .forma button a{
    text-decoration: none;
    color: black;
}

#posi .forma .al{
    color: black;  
}


.con1{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 16px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);


}

.con{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 16px;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.9);
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
   
}

input::placeholder{
    color: rgb(0, 0, 0);
  
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: black;
    background: rgba(255, 255, 255,0.6);
    
}



button:hover {
    background-color: rgba(242, 242, 242, 0.4);
    transform: scale(1.1);
}


.re{
    position: absolute;
    margin-left: 8.6%;
    margin-top: 0.5%;
}

.re a{
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.carta{
    padding: 10%;
}

.carta div #toky{
    width: 70%;
    height: 50px;
    margin-top: 150px;
    border-radius: 30px;
    margin-left: 15%;
    background: rgb(27, 26, 26);
    text-align: center;
}

#toky h3{
        color: white;
        text-align: center;
    }

.carta div #shib{
    width: 70%;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 15%;
    background: gainsboro;
    text-align: center;
  
}

.carta div #kyo{
    width: 70%;
    margin-top: 20px;
    border-radius: 30px;
    margin-left: 15%;
    background: gainsboro;
    text-align: center;
    margin-block-end: 50px;
}

.carta :hover div {
    transform: scale(1.1);
    transition: 0.5s;
}


@media(max-width:416px){
    footer p {
      
        font-size: 13px;
 
        
    }

}





















@media (max-width:800px){

    #tope img{
        width: 40%;
        margin-top: 0;
        left: 0;
        z-index: 10;
    } 

    .menu__hamburguer{
        display: flex;
        z-index: 10;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
        margin: 0 0 5px;
        height: 40px;
        padding: 0;
        font-size: 20px;
        z-index: 10;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #f0f8ff20;
        z-index: 10;
    }

    .menu__item--show{
        background-color: #f0f8ff20;
        z-index: 10;
    }

    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 60px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
        z-index: 10;
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
        z-index: 10;
    }

    .menu__link{
        padding: 8px 25px;
        padding-left: 30px;
        height: auto;
        z-index: 10;
    }
    
}

